@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-bgColor: #232527;
    --shadow: #6e6e6e;
    --shadowDown:#1e1f23;
    --pinkColor: #ff014f;
    --primary-textColor: #c4cfde;
    --secondary-textColor: #b0b9c8;
    --headFont: "Montserrat", sans-serif;
    --contentFont: "Poppins", sans-serif;
}
html{
    min-width: 300px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: var(--main-bgColor);
    font-family: var(--contentFont);
    width: 100%;
}
p{
    font-weight: 300;
}
section{
    margin: 2rem 0;
}
.container{
    max-width: 1080px;
    width: 100%;
    /* width: calc(100% - 2rem); */
    margin: 0 auto;
    /* border: 1px solid red; */
}
header{
    width: 100%;
    background-color: var(--main-bgColor);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
}
#logo{
    width: 2.5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 0;
    outline: 2px solid #fff;
}
nav{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.2rem;

    ul.nav-list{
        list-style: none;
        display: flex;
        justify-content: space-around;
        /* border: 1px solid blue; */

        li a{
            text-decoration: none;
            color: #fff;
            margin: .5rem;
            font-family: var(--contentFont);
        }
    }

    .nav-toggle{
        display: none;
    }
}
@media screen and (max-width: 768px){
    #logo{
        width: 2.4rem;
    }
    nav .nav-toggle{
        display: block;
        font-size: 1.7rem;
        color: #fff;
        cursor: pointer;
    }
    .nav-menu{
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        text-align: center;
        line-height: 1.6rem;
        background-color: #00000084;
        transition: .4s;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        border-radius: 0 0 1rem 1rem;
        z-index: -1;

        ul{
            display: flex;
            flex-direction: column;
            gap: .4rem;
            padding: 1.2rem 0;

            li a{
                font-size: .9rem;
            }
        }
        
    }
    

    .show-menu{
        top: 3.2rem;
        transition: .4s;
    }
}

/* ---------------------Home Section---------------------------- */

main{
    margin-top: 5rem;
    color: #fff;
}
.home{
    width: 100%;
    height: calc(100vh + 3rem);
    padding: 2rem 0;
}
.grid-container{
    display: grid;
    grid-template-rows: repeat(2, max-content);
    align-content: space-around;
    gap: 2rem;
}

.heroIntro{
    /* width: 32rem; */

    span.hello{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: .9rem;
        font-family: var(--headFont);
    }
    h1{
        /* border: 1px solid #fff; */
        font-size: 2.5rem;
        margin: .1rem 0 1.2rem;
        font-family: var(--headFont);

        span{
            color: #7E74F1;
        }
    }
    p{
        width: 90%;
        font-weight: 300;
    }
}
.home-social{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;

    a{
        background-color: var(--shadow);
        padding: .3rem;
        border: 0;
        border-radius: .2rem;
        transition: .4s;
        i{
            font-size: 1.4rem;
            color: #fff;
            vertical-align: middle;
        }

        &:hover{
            background-color: #f9f9f9;
            i{
                color: #7E74F1;
            }
        }
    }
}
.heroImage{
    display: flex;
    justify-content: center;

    .imgBg{
        width: 20rem;
        height: 25rem;
        background-color: #7E74F1;
        position: relative;
        border: 0;
        border-radius: .7rem;
        transform: rotate(-6deg);
    }
    img{
        width: 20rem;
        height: 25rem;
        aspect-ratio: 3/4;
        object-fit: cover;
        border-radius: .7rem;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: rotate(6deg);
    }
}

/* ------------- About Me ---------------- */
.about{
    width: 100%;
}
.aboutContent{
    padding: 1rem;

    p{
        text-align: justify;
    }
}
h2{
    color: #aefafd;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    position: relative;
    text-wrap: nowrap;
    margin: 4rem auto 3.5rem;
    max-width: fit-content;

    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 110%;
        width: 100%;
        height: 1.6px;
        background-color: #7E74F1;
        border-radius: .4rem;
    }
}
.buttons{
    margin-top: 1.2rem;
    padding: 1.5rem 0;
}
.resume{
    padding: .8rem 1.5rem;
    font-weight: 500;
    color: #fff;
    background-color: #7E74F1;
    text-decoration: none;
    border: 0;
    outline: 0;
    border-radius: .25rem;
    cursor: pointer;
    margin-top: 3rem;
    transition: .4s;

    i{
        font-size: 1.1rem;
        vertical-align: middle;
    }

    &:hover{
        background-color: #4f40f4;
    }
    &:active{
        background-color: #7E74F1;
    }
}
.aboutImg{
    display: none;
    img{
        width: 15rem;
        aspect-ratio: 3/4;
        object-fit: cover;
        outline: 0;
        border: 2px solid #7E74F1;
        border-radius: .6rem;
    }
}

/*---------------------------- Education ---------------------------- */
.education-container{
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    height: calc(100svh - 3rem);
    /* gap: 2rem; */
}
.tabs-head{
    width: 90%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 1.2rem;
    background-color: #ffffff07;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.12);
}
.tab-name{
    padding: .6rem 1rem;
    cursor: pointer;
    transition: .4s;
}
.tab-name.is-active{
    color: #7E74F1;
    border-bottom: 2.2px solid #fff;  
}
.tabs-body{
    border: #4f40f4;
    width: 90%;
    margin: 0 auto;
    border: 0;
    border-radius: .3rem;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.12);
}
.tab-description{
    background-color: #ffffff06;
    padding: 1.5rem;
    line-height: 1.78rem;
    text-wrap: nowrap;
    margin-bottom: .7rem;

    span{
        font-size: .95rem;
        color: #7E74F1;
    }

    h4{
        font-size: 1.1rem;
        margin: 0;
        font-weight: 400;
    }
    p{
        font-size: .79rem;
    }

    .sub-tags{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1.12rem;

        span{
            font-size: .75rem;
            color: #fff;
            margin: 1rem 0;
            padding: .088rem .5rem;
            border: .88px solid #7E74F1;
            border-radius: .6rem;
        }
    }
}
.work{
    width: 100%;
    position: relative;
    button{
        padding: 0.45rem 1rem;
        border: .48px solid #7E74F1;
        margin: 1rem 0;
        border-radius: .6rem;
        background-color: transparent;
        font-size: .75rem;
        font-family: "Poppins", sans-serif;
        word-spacing: 3px;
        transition: .4s;
        color: #fff;
        text-decoration: none;
        cursor: pointer;

        i{
            font-size: .9rem;
            vertical-align: middle;
            color: #7E74F1;
        }
        &:hover{
            background-color: #7E74F1;
            i{
                color: #fff;
            }
        }
        &:active{
            background-color: #4f40f4;
        }
    }
}
.summary{
    position: relative;
    width: 90%;
    margin: 1rem auto;
    li{
        list-style-type: square;
    }
    p{
        font-size: .8rem;
        font-style: italic;
        text-wrap: wrap;
        text-align: justify;
        line-height: 1.1rem;
    }
}
.tab-content{
    display: none;
    width: 100%; 
}
.tab-content.is-active{
    display: block;
}

/* ------------------- Projects ------------------------ */

.projects-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-bottom: .5rem;
    
}
.projects-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: .8rem;
    flex-shrink: 0;
    flex-grow: 0;
}
.projects-box .project{ 
    min-width: 300px;
    width: 300px;
    max-width: 350px;
    border: 1px solid #7E74F1;
    overflow: hidden;
    padding: .7rem;
    border-radius: .4rem;
    outline: 0;
    transition: .4s;

    .image{
        width: 100%;
        overflow: hidden;
        border-radius: .3rem;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.4;
            vertical-align: middle;
        }
    }
    &:hover img{
        opacity: .8;
    }

    .project-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1rem;
        gap: .6rem;

        p{
            font-size: 1rem;
            font-weight: 400;
        }

        button{
            padding: 0.25rem .6rem;
            border: .48px solid #7E74F1;
            border-radius: .3rem;
            background-color: transparent;
            font-size: .75rem;
            font-family: "Poppins", sans-serif;
            word-spacing: 3px;
            transition: .4s;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
    
            i{
                font-size: .9rem;
                vertical-align: middle;
                color: #7E74F1;
            }
            &:hover{
                background-color: #7E74F1;
                i{
                    color: #fff;
                }
            }
            &:active{
                background-color: #4f40f4;
            }
        }

        .project-tabs{
            margin-top: 1rem;
            display: block;
            flex-wrap: wrap;
            flex-direction: row;
            gap: .5rem;

            span{
                font-size: .70rem;
                font-weight: 300;
                border: 1px solid #7E74F1;
                padding: 0.08rem .4rem;
                border-radius: .3rem;
                text-wrap: nowrap;
            }
        }
    }
}
@media (max-width: 600px) {
    .project {
      flex: 1 1 100%; /* 1 card per row */
      max-width: 100%;
    }
}
@media (max-width: 1024px) {
    .project {
      flex: 1 1 calc(50% - 1rem); /* 2 cards per row */
      max-width: calc(50% - 1rem);
    }
}
/* .project {
    flex: 1 1 calc(33.333% - 1rem); /* 3 cards in a row, accounting for gaps */
    /*max-width: calc(33.333% - 1rem);
  } */
/* .slide-buttons{
    display: flex;
    flex-direction: row;
    gap: .4rem;

    a{

    }
} */

/* --------------------------------SKILLS---------------------------------------- */
.skills-container{
    width: 80%;
    margin: 3em auto;

    .skills-one, .skill-two {
        margin: 0.5em auto 1em;
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        column-gap: 3em; 
        row-gap: 1.5em;
        flex-shrink: 0;
        flex: 0 1 auto;
      }
      
      .skills-one figure, .skill-two figure {
        text-align: center;
        padding: 0.3rem 1.2em;
        border-radius: .3rem;
        background-color: #ffffff07;
        box-shadow: 0px 4px 5px rgba(0,0,0,0.12);

        img {
            max-width: 5rem;
            min-width: 2rem;
            height: auto;
            aspect-ratio: 1/1;
        }
        [alt="AWS"], [alt="Keras"]{
            background-color: #fff;
            border-radius: .3rem;
        }

        figcaption{
            text-align: center;
            line-height: 2em;
            font-size: 0.8rem;
        }
    }
}

/* -------------------Blogs--------------------------------------- */
.blogs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 0.8rem;
    
    .blog{
        min-width: 300px;
        width: 300px;
        max-width: 350px;
        border: 1px solid #7e74f141;
        overflow: hidden;
        padding: .7rem;
        border-radius: .4rem;
        outline: 0;
        transition: .4s;

        figure{
            width: 100%;
            overflow: hidden;
            border-radius: .3rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: middle;
            }
        }

        #blog-title{
            text-align: center;
            font-weight: 500;
            line-height: 2rem;
        }
        #date{
            font-weight: 400;
            font-size: 0.75rem;
            font-style: italic;
            line-height: 2.2rem;
        }
        #description{
            font-size: 0.85rem;
            text-align: justify;
            border-bottom: 1px solid #7e74f141;
            padding-bottom: 0.5rem;
            margin: 0.8rem auto;
        }

        a{
            color: #f9f9f9;
            text-decoration: none;
            margin: 0.8rem auto;
            font-size: 0.88rem;
            text-align: center;
        }
    }
}

/* -------------------------Contact--------------------------- */
.contact-container{
    background-color: #8a80f10f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.3rem;
    

    form{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.8rem;

        h2{
            margin: 1.4rem auto 2.2rem;
        }

        input{
            width: 100%;
            height: 2rem;
            padding: 0.6rem;
            border: none;
            border-radius: 0.2rem;
            margin-bottom: 1.2rem;
        }
        textarea{
            resize: none;
            padding: 0.6rem;
            width: 100%;
            border: none;
            border-radius: 0.2rem;
            margin-bottom: 1.2rem;
            font-family: var(--contentFont);
        }
        input::placeholder, textarea::placeholder{
            font-family: var(--contentFont);
            color: #000;
        }
        input:focus, textarea:focus {
            outline: none;
            border: none;
        }   
    }

    .info{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1.5rem;

        .address, .mail, .phone{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            i{
                font-size: 1.1rem;
                background-color: #7E74F1;
                color: #f9f9f9;
                padding: 0.5rem;
                border-radius: 0.2rem;
            }

            h4{
                font-weight: 500;
                font-size: 0.85rem;
                line-height: 0.95rem;
            }
            p{
                font-weight: 400;
                font-size: 0.8rem;
            }
        }
    }
}
#copyright p{
    font-weight: 400;
    font-size: 0.85rem;
    margin: 1rem auto 2rem;
    text-align: center;
}

@media

